@import "./reset.css";
@import "./fonts.css";

@import "./vars";
@import "./mixins";

@import "./fragments/_header";
@import "./fragments/_footer";
@import "./fragments/_modal";

@import "./fragments/index/_main-slider";

body,
html {
  height: 100%;
}

body {
  background-image: url("../images/background.jpg");
}

.global-wrapper {
  width: 1260px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}
