@mixin side-paddings {
  padding-left: 23px;
  padding-right: 19px;
}

@mixin font($size, $family, $color, $line-height) {
  font-size: $size;
  font-family: $family;
  color: $color;
  line-height: $line-height;
}

@mixin like-button($border, $padding, $background-color, $color: #000) {
  padding: $padding;
  border: $border;
  text-decoration: none;
  background: $background-color;
  color: $color;
  cursor: pointer;
  text-align: center;
}

@mixin sprite-ico($width, $height, $background-position) {
  width: $width;
  height: $height;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  display: block;
  background-position: $background-position;
}

@mixin absolute-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
