// colors

$violet: #9666be;
$gradient-45: linear-gradient(45deg, #b854ad, #ff7043);
$transparent-black: rgba(0, 0, 0, 0.7);
$transparent-gray: rgba(50, 50, 50, 0.7);
$transparent-violet: rgba(127, 91, 157, 0.7);

// sizes

$side-padding: 24px;
$rounded: 5px;
