.book-leader {
  @include side-paddings;
  padding-top: 33px;

  .book-leader__leaders-container {
    display: flex;
    flex-wrap: wrap;
    gap: 9px 14px;

    .book-leader__leader-item {
      position: relative;
      width: 293px;
      height: 394px;
      // outline: 1px solid #000;

      .book-leader__leader-photo {
        position: relative;
        left: 0;
        top: 0;
        width: inherit;
        height: inherit;
      }

      .book-leader__leader-info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .book-leader__leader-about {
          display: flex;
          flex-direction: column;
          padding: 10px 12px 10px 26px;
          height: 64px;
          background-color: $transparent-gray;
          backdrop-filter: blur(0);
          overflow: hidden;
          transition: height 0.5s linear, background-color 0.5s linear;

          .book-leader__leader-name {
            @include font(30px, "calibri_light", #fff, 1.2);
          }

          .book-leader__leader-occupation {
            @include font(18px, "calibri_light", #fff, 1.2);
            margin-bottom: 3px;
          }

          .book-leader__stroke {
            border: none;
            border-bottom: 1px solid $violet;
            margin-bottom: 14px;
            transition: border-bottom-color 0.5s linear;
            width: 100%;
          }

          .book-leader__leader-description {
            height: 109px;
            margin-bottom: 26px;
            @include font(12px, "Arial", #fff, 1.2);
          }

          .book-leader__flex-grow {
            flex-grow: 1;
          }

          .book-leader__buttons {
            display: flex;
            gap: 8px;

            .book-leader__button-item {
              @include like-button(3px solid #fff, 15px, transparent, #fff);
              @include font(16px, "cuprum_regular", #fff, 0);
              border-radius: $rounded;
              transition: color 0.3s linear, background-color 0.3s linear;

              &:hover {
                color: $violet;
                background-color: #fff;
              }
            }
          }
        }

        .book-leader__leader-interest {
          display: flex;
          gap: 12px;
          align-items: center;
          background-color: $transparent-gray;
          backdrop-filter: blur(0);
          padding: 7px 26px;

          .book-leader__leader-fee {
            @include font(30px, "calibri_regular", #fff, 1.2);
            font-weight: bold;
          }

          .book-leader__leader-period {
            @include font(18px, "calibri_light", #fff, 1.2);
          }
        }

        &:hover .book-leader__leader-about {
          height: 324px;
          background-color: $transparent-violet;
        }

        &:hover .book-leader__stroke {
          border-bottom-color: #fff;
        }
      }
    }
  }
}
