.book-leader {
  @include side-paddings;
  padding-top: 33px;

  .book-leader__leaders-container {
    display: flex;
    flex-wrap: wrap;
    gap: 9px 14px;

    .book-leader__leader-item {
      position: relative;
      width: 293px;
      height: 394px;
      outline: 1px solid #000;

      .book-leader__leader-photo {
        position: relative;
        left: 0;
        top: 0;
        width: inherit;
        height: inherit;
      }
    }
  }
}
