.events-slider {
  position: relative;
  $slide-info-width: 600px;
  $slide-info-height: 433px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background: linear-gradient(to top, transparent, #fff);
  }

  .events-slider__slides-container {
    position: relative;
    height: 567px;

    .events-slider__slide-item {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 567px;
      padding: 13px $side-padding 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/events-slider/b-1.jpg");

      // opacity: 0;
      // pointer-events: none;
      // user-select: none;
      // transition: opacity 0.3s linear;

      .events-slider__slide-info {
        $padding-top: 27px;
        $padding-right: 32px;
        $padding-bottom: 42px;
        $padding-left: 42px;
        padding: $padding-top $padding-right $padding-bottom $padding-left;
        width: $slide-info-width - $padding-left - $padding-right;
        height: $slide-info-height - $padding-top - $padding-bottom;
        background-color: $transparent-white;
        backdrop-filter: $backdrop-filter-blur;
        display: flex;
        flex-direction: column;
        gap: 14px;

        .events-slider__slide-header {
          @include font(50px, "calibri_light", #000, 1.08);
        }

        .events-slider__slide-description {
          @include font(18px, "calibri_light", #000, 1.2);
        }

        .events-slider__slide-options {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .events-slider__option-item {
            display: flex;
            align-items: center;
            min-height: 55px;
            position: relative;
            @include font(28px, "calibri_light", #000, 1.2);
            padding-left: 74px;

            .events-slider__price {
              font-weight: bold;
              color: $violet;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              @include sprite-ico(55px, 55px, -239px -88px);
            }
          }
        }
      }
    }
  }
}
