.events-slider {
  position: relative;
  $slide-info-width: 600px;
  $slide-info-height: 433px;
  $slide-item-top-padding: 13px;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background: linear-gradient(to top, transparent, #fff);
  }

  .events-slider__slides-container {
    position: relative;
    height: 567px;

    .events-slider__slide-item {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 567px;
      padding: $slide-item-top-padding $side-padding 0;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      pointer-events: none;
      user-select: none;
      transition: opacity 0.3s linear;

      &.slide-visible {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }

      &.events-weddings {
        background-image: url("../images/events-slider/weddings.jpg");
      }

      &.events-anniversaries {
        background-image: url("../images/events-slider/anniversaries.jpg");
      }

      &.events-corporatives {
        background-image: url("../images/events-slider/corporatives.jpg");
      }

      &.events-teambuildings {
        background-image: url("../images/events-slider/teambuildings.jpg");
      }

      &.events-promos {
        background-image: url("../images/events-slider/promos.jpg");
      }

      .events-slider__slide-info {
        $padding-top: 27px;
        $padding-right: 32px;
        $padding-bottom: 42px;
        $padding-left: 42px;
        padding: $padding-top $padding-right $padding-bottom $padding-left;
        width: $slide-info-width - $padding-left - $padding-right;
        height: $slide-info-height - $padding-top - $padding-bottom;
        background-color: $transparent-white;
        backdrop-filter: $backdrop-filter-blur;
        display: flex;
        flex-direction: column;
        gap: 14px;

        .events-slider__slide-header {
          @include font(50px, "calibri_light", #000, 1.08);
        }

        .events-slider__slide-description {
          @include font(18px, "calibri_light", #000, 1.2);
        }

        .events-slider__slide-options {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .events-slider__option-item {
            display: flex;
            align-items: center;
            min-height: 55px;
            position: relative;
            @include font(28px, "calibri_light", #000, 1.2);
            padding-left: 74px;

            .events-slider__price {
              font-weight: bold;
              color: $violet;
            }

            &:before {
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              @include sprite-ico(55px, 55px, -239px -88px);
            }
          }
        }
      }
    }
  }

  .events-slider__slides-switch {
    position: absolute;
    left: $side-padding;
    top: $slide-item-top-padding + $slide-info-height;
    width: $slide-info-width;
    display: flex;

    .events-slider__radio {
      display: none;

      &:checked + .events-slider__label,
      &:hover + .events-slider__label {
        background-color: #fff;
        color: #000;
      }

      &:checked + .events-slider__label {
        cursor: default;
      }
    }

    .events-slider__label {
      @include font(22px, "calibri_light", #fff, 2.455);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 77px;
      flex-grow: 1;
      cursor: pointer;
      background-color: $violet;
      transition: background-color 0.3s linear, color 0.3s linear;
    }
  }
}
