.main-slider {
  position: relative;

  .main-slider__slides-container {
    position: relative;
    height: 594px;

    .main-slider__slide-item {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 594px;
      padding: 0 $side-padding;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: 0;
      pointer-events: none;
      user-select: none;
      transition: opacity 0.3s linear;

      &.weddings {
        background-image: url("../images/main-slider/weddings.jpg");
      }

      &.corporatives {
        background-image: url("../images/main-slider/corporative.jpg");
      }

      &.business {
        background-image: url("../images/main-slider/business.jpg");
      }

      &.kids {
        background-image: url("../images/main-slider/kids.jpg");
      }

      &.slide-visible {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }

      .main-slider__slide-text-part {
        width: 334px;
        padding-top: 44px;

        .main-slider__slide-header {
          @include font(36px, "calibri_light", #fff, 1.2);
          padding: 0 4px 16px;
        }

        .main-slider__stroke {
          height: 1px;
          background-color: #fff;
        }

        .main-slider__slide-description {
          @include font(18px, "calibri_light_italic", #fff, 1.2);
          padding: 19px 4px 0;
        }
      }
    }
  }

  .main-slider__bottom-pannel {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 6px;

    .main-slider__slides-switch {
      display: flex;
      padding: 0 $side-padding;
      margin-bottom: 6px;

      .main-slider__switch-item-radio {
        display: none;

        &:checked + .main-slider__switch-item-label {
          background-color: $transparent-violet;
          cursor: default;
        }
      }

      .main-slider__switch-item-label {
        display: flex;
        gap: 8px;
        padding: 14px 12px 20px 12px;
        background-color: $transparent-black;
        cursor: pointer;
        transition: background-color 0.3s linear;
        flex-grow: 1;
        backdrop-filter: $backdrop-filter-blur;

        &:hover {
          background-color: $transparent-gray;
        }

        .main-slider__switch-item-left {
          .main-slider__switch-item-ico {
            @include sprite-ico(102px, 102px, -105px -105px);
          }

          .weddings-org {
            background-position: -105px -105px;
          }

          .corps-evt {
            background-position: -105px -1px;
          }

          .business-evt {
            background-position: -1px -1px;
          }

          .kids-evt {
            background-position: -1px -105px;
          }
        }

        .main-slider__switch-item-right {
          padding-top: 6px;
          color: #fff;
          width: 144px;

          .main-slider__switch-item-header {
            height: 45px;
            @include font(22px, "calibri_light", #fff, 1.2);
            margin-bottom: 16px;
            text-transform: capitalize;
          }

          .main-slider__switch-item-description {
            height: 68px;
            @include font(12px, "Arial", #fff, 1.2);
          }
        }
      }
    }

    .main-slider__callback-form-container {
      padding: 6px 0 14px;
      background-color: $transparent-black;
      backdrop-filter: $backdrop-filter-blur;
      width: 1132px;
      margin: 0 auto;

      .main-slider__ribbon {
        position: relative;
        text-align: center;
        background: linear-gradient(to bottom, #ff2600, #f12300);
        @include font(26px, "calibri_regular", #fff, 1.2);
        margin-bottom: 13px;

        &:before,
        &:after {
          content: "";
          position: absolute;
          @include sprite-ico(28px, 44px, -209px -68px);
        }

        &:before {
          left: -28px;
          top: 0;
        }

        &:after {
          right: -28px;
          top: 0;
          transform: rotateY(180deg);
        }
      }

      .main-slider__callback-form {
        display: flex;
        align-items: center;
        padding: 0 11px 0 38px;

        .main-slider__field-caption {
          @include font(26px, "cuprum_regular", #fff, 0.577);
          margin-right: 15px;
        }

        .main-slider__field {
          @include font(26px, "cuprum_regular", #000, 0.577);
          border: none;
          height: 40px;
          width: 255px;
          padding: 0 5px;
          border-radius: $rounded;
          margin-right: 38px;
        }

        .main-slider__flex-grow-block {
          flex-grow: 1;
        }

        .main-slider__button {
          height: 40px;
          width: 255px;
          @include like-button(none, 0, #fff);
          @include font(26px, "cuprum_regular", #000, 0.577);
          border-radius: $rounded;
          transition: color 0.3s linear;

          &:hover {
            color: $violet;
          }
        }
      }
    }
  }
}
