.reports {
  $tile-gap: 10px;
  $big-tile-width: 604px;
  $big-tile-height: 395px;
  $small-tile-width: 295px;
  $small-tile-height: 190px;

  display: flex;
  gap: $tile-gap;
  flex-wrap: wrap;

  padding-top: 15px;
  @include side-paddings;

  .reports__link {
    @include absolute-cover;
  }

  .reports__photo-counter {
    position: relative;
    font-size: 14px;
    display: flex;
    gap: 11px;
    align-items: center;

    &:before {
      content: "";
      position: relative;
      @include sprite-ico(26px, 22px, -209px -1px);
    }
  }

  .reports__big {
    position: relative;
    width: $big-tile-width;
    height: $big-tile-height;

    .reports__cover {
      @include absolute-cover;
    }

    .reports__photo-info {
      @include absolute-cover;
      @include font(14px, "calibri_light", #fff, 1.2);
      top: initial;
      display: flex;
      flex-direction: column;
      gap: 5px;
      background-color: $transparent-black;
      padding: 18px 38px 16px;
      height: 123px;
      transition: background-color 0.3s linear;

      .reports__photo-header {
        height: 75px;
        font-size: 30px;
        border-bottom: 1px solid $violet;
        transition: border-bottom-color 0.3s linear;
      }

      .reports__link {
        @include absolute-cover;
      }
    }

    &:hover .reports__photo-info {
      background-color: $transparent-violet;
    }

    &:hover .reports__photo-header {
      border-bottom-color: #fff;
    }
  }

  .reports__small-links-container {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    width: $big-tile-width;

    .reports__small {
      position: relative;
      width: $small-tile-width;
      height: $small-tile-height;

      .reports__cover {
        width: inherit;
        height: inherit;
      }

      .reports__link {
        @include font(14px, "calibri_light", #fff, 1.2);
        padding: 0 12px 7px 16px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-color: $transparent-black;
        transition: background-color 0.3s linear;

        .reports__photo-header {
          font-size: 20px;
          height: 50px;
          border-bottom: 1px solid $violet;
          margin-bottom: 7px;
          transition: border-bottom-color 0.3s linear;
        }

        &:hover {
          background-color: $transparent-violet;
        }

        &:hover .reports__photo-header {
          border-bottom-color: #fff;
        }
      }
    }
  }
}
